.bg-theme{
    background:#337ab7;
    height:100%;
    
}
.left-div{
    padding:10rem 0rem;
}
input.btn.btn-contact{
    background:#337ab7;
    color:white;
    
}
button.btn.btn-contact{
    background:#337ab7;
    color:white;
    
}

.bg-form{
    border:2px solid #337ab7;
    border-radius: 10px;
}
.fa{
    font-size:3rem;
    
}
nav.navbar.navbar-contact{
    background:#337ab7 ;
}
a.navbar-brand{
    color: white;
}
.navbar-nav>li>a{
    color:white;
}
ul.nav.navbar-nav.navbar-right {
    flex-direction: unset;
}
i.fa.fa-facebook-square
{
    padding-right: 1rem;
}
.text-contact{
    
    color:#337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    color:hsl(208, 56%, 46%);
    
}
a.navbar-brand:hover{
    color:#337ab7;
    background:white;
}
.pdf_row{
    background-color: whitesmoke;
}
.dashboard_icons{
    float:right;
    font-size:4rem;
    padding:0rem 3rem;
}

.fa-file-pdf-o{
    color:red;
}
.fa-file-excel-o{
    color:green;
}
.contact-card{
    color:#337ab7;
    font-size: 4rem;
    border:2px solid;
    padding:2rem;
}
.table-div{
    padding:2rem;
    color:#337ab7;
    border:2px solid  ;
}
table.table.table-bordered{
    color:#337ab7;
}
.social_icons{
    font-size:3rem;
}

.modal-header{
    background: #337ab7;
    color: white;
}
img.img-fluid.img-contact{
    height:30%;
}
label.form-label.required.control-label.pt-3:after {
    content: " *";
    color: red;
}
label.form-label.required.control-label:after
{
    content: " *";
    color: red;
}
img.img-fluid.img-icon{
    height:4rem;
    border-radius: 50%;
    width:4rem;
}
a.btn.btn-contact{
    background:#337ab7;
    color:white;
}