.bg-theme{
    background:#337ab7;
    height:100%;
    
}
.left-div{
    padding:10rem 0rem;
}
input.btn.btn-contact{
    background:#337ab7;
    color:white;
    
}
.bg-form{
    border:2px solid #337ab7;
    border-radius: 10px;
}
.fa{
    font-size:3rem;
    
}
nav.navbar.navbar-contact{
    background:#337ab7 ;
}
a.navbar-brand{
    color: white;
}
.navbar-nav>li>a{
    color:white;
}
ul.nav.navbar-nav.navbar-right {
    flex-direction: unset;
}
i.fa.fa-facebook-square
{
    padding-right: 1rem;
}
.text-contact{
    
    color:#337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    color:hsl(208, 56%, 46%);
    
}
a.navbar-brand:hover{
    color:#337ab7;
    background:white;
}